extend layout

block content
  h1= title

  if session.hp < 1
    img(src='#{session.job.avatar_dead}', class='battle dead player')
  else
    img(src='#{session.job.avatar_alive}', class='battle alive player')
    img(src='#{enemy.avatar_alive}', class='battle alive enemy')
    img(src='/actions/pow.png', class='action')

    a(href='/detail/#{level}', class='fight-again') fight again!

    ol.tools(data-level='#{level}')
      - for(var name in session.activeTools) {
        - var toolName = session.activeTools[name].name.replace(/\s/, '_');
        li(data-tool='#{toolName}')
          img(src='/tools/#{toolName}.png')
          span= session.activeTools[name].name
      - }

  if session.hp > 0
    p(class='battle-message')= message
  else
    p(class='battle-message') Uh oh you are too ill to fight! :(

  ol.stats
    li#hp HP
      span= session.hp
    li#mp MP
      span= session.mp
    li#damage Damage
      span
    li#enemy-hp Enemy HP
      span= enemy.hp
    li#xp XP
      span= session.xp
    li#gold Gold
      span= session.gold

  #ship
    .message
      p Return to homebase!
    a(href='/dashboard') Dashboard
