extend layout

mixin itemList(item, name, enabled)
  li(class='#{enabled}', data-cost='#{item.cost}')
    img(src='/tools/#{name}.png')
    span.cost= item.cost
    span.tool-type(data-key='#{name}', data-health='true', data-amount='#{item.amount}')= item.name
    .requirements
      = item.message

block content
  h1= title

  ul.items
    - var cannotPurchase = function(item) {
      - if (item.cost > session.gold) {
        - return true;
      - } else {
        - return false;
      - }
    - };

    - for (var i = 0; i < items.length; i ++) {
      - var name = items[i].name.toLowerCase().replace(/\s/, '_');
      - var enabled = 'enabled';
      - if (cannotPurchase(items[i])) {
        enabled = 'disabled';
      - }
      mixin itemList(items[i], name, enabled)
    - }

  ul.stats
    li
      h3 Gold Available
      span.gold= session.gold
